@import './normalize';
@import './vars';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--poppins);
    font-size: 16px;
    line-height: 28px;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper-row {
    height: 100vh;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}