.branch-row {
    justify-content: space-between;
}
.branch-col {
    max-width: 312px;
}
.branch-col-img {
    width: 312px;
    height: 333px;
    background-color: var(--BRIGHT-GRAY);
    margin-bottom: 18px;

    & img {
        object-fit: cover;
        object-position: center;
    }
}
.branch-col-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    color: var(--GUNMETAL);
    margin-bottom: 18px;
}
.branch-col-desc {
    line-height: 28px;
    color: var(--SPANISH-GRAY);
    margin-bottom: 24px;
}
.branch-col-link {
    font-weight: 400;
    line-height: 28px;
    color: var(--VIVID-GAMBOGE);
    transition: color .2s ease-in-out;

    & svg {
        margin-left: 16px;
        & path {
            transition: fill .2s ease-in-out;
        }
    }

    &:hover {
        color: var(--VIVID-GAMBOGE-H);
        
        & path {
            fill: var(--VIVID-GAMBOGE-H);
        }
    }
}