.clients {
    padding-bottom: 150px;
}
.clients-row {
    flex-wrap: wrap;

}
.clients-title {
    display: block;
    width: 100%;
    font-family: var(--inter);
    font-weight: 700;
    line-height: 26px;
    grid-column: span 12;
    text-align: center;
    color: var(--GUNMETAL);
    margin-bottom: 47px;
}
.clients-list {
    grid-column: 12 span;
    grid-row: 2;
    justify-content: center;
    column-gap: 78px;
    width: 100%;
}
.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 234px;
    height: 110px;
    background-color: var(--WHITE);
    box-shadow: -40px 40px 70px 0px rgba(25, 25, 25, 0.04);
}