.feedback {
    padding: 51px 0 64px;
    background-color: var(--BRIGHT-GRAY);
}
.feedback-row {
    flex-direction: column;
    align-items: center;
}
.feedback-title {
    margin-bottom: 45px;
}
.feedback-box {
    max-width: 854px;
    background-color: var(--WHITE);
    padding: 40px 32px 32px 92px;
    margin-bottom: 62px;
    border-radius: 10px;
    position: relative;

    &::after {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        left: 60px;
        bottom: -12px;
        background-color: inherit;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
        transform: rotate(-45deg);
        border-radius: 0 0 0 3px;
    }
}
.feedback-box-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--GUNMETAL);
    position: relative;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: -10px;
        left: -45px;
        background-image: url('/images/feedback/quotation-mark.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 20px;
    }
}
.feedback-list {
    max-width: 765px;
    width: 100%;
    justify-content: space-between;
}
.feedback-list-item {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.feedback-link-img {
    display: block;   
}
.feedback-link-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--GUNMETAL);
}
.feedback-link-profession {
    font-weight: 600;
    font-size: 18px;
    color: var(--GUNMETAL);
}