.header {
    background-color: var(--GUNMETAL);
    padding: 15px 0;
    color: var(--WHITE);
}
.header-row {
    align-items: center;
}
.logo {
    & img {
        display: block;
    }
}
.nav {
    display: flex;
    grid-column: 5 / 4 span;
    justify-content: space-between;
}
.nav-link {
    font-weight: 500;
    line-height: 20px;
    transition: color ease-in-out .2s;

    &:hover {
        color: var(--SHADOW-BLUE);
    }
}
.header-btn {
    grid-column: 11 / 2 span;
    transition: background-color ease-in-out .2s;

    &:hover {
        background-color: var(--SHADOW-BLUE-H);
    }
}