.info {
    padding: 147px 0;
}
.info-row {
    color: var(--GUNMETAL);
}
.info-content {
    grid-column: 5 span;
}
.info-content-title {
    margin-bottom: 8px;
}
.info-content-desc {
    font-weight: 400;
    line-height: 26px;
}
.info-col {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    grid-column: 7 / 6 span;
    row-gap: 37px;
}
.info-col-box {
    display: flex;
    align-items: center;
    column-gap: 14px;
    height: 69px;
}
.info-box-quantity {
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
}
.info-box-desc {
    line-height: 26px;
}